* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #fe4518;
  /* background: rgb(254, 69, 24);
  background: linear-gradient(
    180deg,
    rgba(254, 69, 24, 1) 0%,
    rgba(223, 35, 48, 1) 52%
  ); */
  height: 55px;
  display: none;
}

.navbar2 {
  background-color: #f5f5f5;
  color: #828282;
  font-size: 16px;
  display: flex;
  height: 120px;
  display: grid;
  grid-template-columns: 1.9fr 0.8fr 0.8fr 0.8fr 0.8fr 0.9fr 0.9fr 1.6fr 0.3fr 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . . . . . . . .";
  padding: 37px auto;
  align-items: center;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.11);
}

.navbar2-link {
  text-decoration: none;
  letter-spacing: 3.2px;
}

.navbar2-link:visited,
.navbar2-link:active,
.navbar2-link:link {
  text-decoration: none;
  color: #828282;
}

.btn {
  all: unset;
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #fe4518;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-bars {
  margin-left: 2rem;
  background-color: none;
}

.nav-menu {
  background: rgb(254, 69, 24);
  background: linear-gradient(
    180deg,
    rgba(254, 69, 24, 1) 0%,
    rgba(223, 35, 48, 1) 52%
  );
  width: 270px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  /*  left: -100%; */
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: block;
  width: 270px;
  display: flex;

  align-items: center;
  list-style: none;
  height: 50px;
  font-size: 20px;
  padding: 30px 0 30px 35px;
}
.nav-text a > img {
  margin-right: 20px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  width: 95%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 0 16px;
}

/* .nav-text a:hover {
  background-color: #c1000d;
} */

.nav-text:hover {
  background-color: #c1000d;
}

.logo {
  width: 120px;
  margin: 20px auto;
}

/****** MAIN  AREA*******/

/* .product-image {
  width: 100px;
  height: 100px;
}
 */

main {
  display: flex;
  margin-top: 60px;
  margin-left: 340px;
  flex-wrap: wrap;
}

.product-card {
  width: 242px;
  height: 282px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.11);
  margin: 60px;
  /* border: 1px solid black; */
  font-size: 20px;
}

.image-box {
  height: 160px;
  width: 200px;
  margin: 0 auto;
}

.image-box .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.name {
  margin-bottom: 0.5rem;
  color: #828282;
}

.price {
  margin-bottom: 0.9rem;
  color: #828282;
}

.points {
  background-color: #fe4518;
  padding: 0.6rem;
  color: #ffffff;
  box-shadow: 6px 9px 15px #0000000f;
}

@media screen and (max-width: 1380px) {
  .nav-menu {
    display: none;
  }

  .navbar {
    display: block;
  }
  main {
    margin: auto;
  }
  .product-card {
    margin: 20px;
    margin: 20px auto;
  }

  .btn {
    display: none;
  }

  .lupa {
    display: none;
  }
}
